* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header nav {
 margin-top: 250px;
    padding-right: 20px;
    float: right;
    font-size: 30 px;
    font-weight: 500px;
    font-family: sans-serif;
    text-transform:uppercase;
}
title {
 align-items: : center;   
}

header a {
    color: #000000;
    text-decoration: none;
    float: right;
    margin-right: 10px;   
}
article h2 { font-family: sans-serif;
    font-size: 32px;
    color: #000000;
    line-height: 40px;
    font-weight: 100;
    margin-top: 10px;
    
}
header a:visited {
    color: #ff0000;
    float: right;
}

article { font-family: sans-serif;
    padding: 0 10px 0 10px;
    margin-top: 10px; 
}

body {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 24px;
    padding: 10px;
    padding-bottom: 80px;
}

p {
    margin-bottom: 24px;
}
article {
    clear: both;
}
aside {
    float: left;
    margin-left: 2%;
    margin-right: 3%;
    width: 45%;
    margin-bottom: 50px;
}

footer { 
    clear: left;
    font-size: 18px;
    height: 100px;
    float: left;
    background: #e5e5e5; 
}
