* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
article h1{ font-family: sans-serif;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 24px;
}

p {
    margin-bottom: 24px;
}

header nav {
 margin-top: 20px;
    float: left;
    font-size: 28 px;
    font-weight: 500px;
    font-family: san-serif;
  
}

header a {
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
    
}

header a:link {}
header a:visited {
    color: #ff0000;
}

header {
    background-color: #e5e5e5;
    color: #000000;
    height: 24px;
}

article {
    clear: both;
}
footer { font-size: 12px;
    background-color: #e5e5e5; Margin-top: 100px;
}